.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;

    .header {
        display: flex;
        justify-content: space-between;
    }

    .users-table {
        margin: auto;
    }
}
